<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object = "${user}">
    <label for="firstname">First name: </label>
    <input type="text" name="firstName" id="firstname"/>
    <br/>
    <br/>
    <label for="lastname">Last name: </label>
    <input type="text" name="lastName" id="lastname"/>
    <br/>
    <br/>
    <label for="age">Age: </label>
    <input type="number" name="age" id="age"/>
    <br/>
    <br/>
    <br/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>